
:root {

  /* Font-Size */
  --fs-1r: 1rem;
  --fs-1-2r: 1.2rem;
  --fs-1-6r: 1.6rem !important;
  --fs-3-6r: 3.6rem;
  --fs-5r: 5rem;

  /* colors */
  --orange: #ed6436;
  --white: #ffffff;
  --black: black;
  --green: #7aba59;
  --gray: #f2f2f4;
  --gray2: #7e7e7e;
  --yellow: #ffc449;
}
