.loc-map {
  width: 100%;
  min-height: 30rem;
}

.loc-box {
  width: 100%;
  height: 30rem !important;
}

.our-office {
  max-width: 20rem;
  background-color: var(--white);
  position: absolute;
  top: 1rem;
  right: 4rem;
}

.office-animal-img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .our-office {
    position: static;
    max-width: 100%;
    background-color: rgb(234, 234, 234);
    width: 100%;
  }
}
